<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#7ea04d"/>
    <link rel="apple-touch-icon" href="/images/icon_apple.png">
    <meta name="description"
        content="Merupakan toko online tempat menampung hasil panen dari petani terbaik negeri ini khususnya kabupaten Sumedang">
    <title>Bumi Sumedang</title>
</head>

<body>
    <header>
        <a href="#main-content" class="skip-content" tabindex="1">Skip Content</a>
        <h1 class="brand-title" tabindex="0">Bumi Sumedang</h1>
        <label for="nav-icon" class="label"> anda berada pada menu navigasi</label>
        <a href="#" class="nav-icon" id="nav-icon">☰</a>
        <nav id="drawer" class="nav-drawer">
            <ul class="nav-list">
                <li class="nav-item"><a href="#/toko">Toko</a></li>
                <li class="nav-item"><a href="#/register">Daftarkan</a></li>
                <li class="nav-item"><a href="https://www.instagram.com/pratama_helditio">About</a></li>
            </ul>
        </nav>
        <div class="hero">
          <div class="hero-tagline">
            <h2 class="tagline-first" tabindex="0">Dari Petani</h2>
            <h2 class="tagline-sec" tabindex="0">Untuk Negeri</h2>
          </div>
            <p class="hero-desc" tabindex="0">Kapan lagi bisa menikmati hasil panen segar, ayo sekarang hadir toko online bumi sumedang dan nikmati hasil panen segar langsung dari petani terbaik di negeri ini</p>
            <img src="./images/farmer1.jpeg" alt="hero website">
        </div>
    </header>

    <main id="content"></main>
</div>
    <footer>
        <p class="copyright"> Bumi Sumedang &#169; 2020</p>
        <p class="copyright-utils">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
        <p class="copyright-utils">Image made by <a href="https://www.https://unsplash.com/">unsplash</a> </p>
    </footer>
</body>

</html>